<html> 

<head>    
  <%- include('partials/_header'); -%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
  <link rel="stylesheet" href="/tax.css">
  </head>
  
    <title>Taxperia Bot</title>

<body>


<div id="demo">
  <div class="invite-now-wrapper">
  </div>
  <div class="discord-app-mount">
    <div class="discord-app">
      <div class="app-buttons"></div>
      <div class="guilds">
        <div class="guild selected" style="background-image: url(https://cdn.discordapp.com/attachments/768490283770839080/842798834420547614/Taxperia1.png);"></div>
        <div class="guild"></div>
        <div class="guild guild-add"></div>
      </div>
      <div class="channels">
        <div class="header">Taxperia Support</div>
        <div class="channel-wrapper"></div>
        <div class="user"></div>
      </div>
      <div class="chat">
        <div class="header">general</div>
        <div class="messages-wrapper">
          <div class="messages"></div>
        </div>
        <div class="input-wrapper">
          <div class="input">
            <textarea placeholder="Message #general" disabled="disabled"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  
  <%- include('partials/_footer'); -%>

</html>
