<head>    
  <%- include('partials/_header'); -%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
  </head>

<?php $cnfp_options = get_option( 'cnfp_settings' ); ?>
<link rel="stylesheet" href="/404.css">
<div id="colorlib-notfound">
    <div class="colorlib-notfound">
        <div class="colorlib-notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2 id="colorlib_404_customizer_page_heading"> 404 - PAGE NOT FOUND</h2>
        <p id="colorlib_404_customizer_content">The page you are looking for might have been removed had its name changed or is temporarily unavailabe. </p>
      <a href="https://taxperia.tk" id="colorlib_404-customizer_button_text"> GO TO HOMEPAGE </a> <a href="https://discord.gg/wRbgTkVVB2" id="colorlib_404-customizer_button_text1"> REPORT </a>
    </div>
</div>

