<html> 
<head>    
      <%- include('partials/_header', {bot, user, path}) %>
  
  </head>
<title>Taxperia Bot</title>
<body>
<div class="heading">
    <h1 class="display-5 title">Türk yapımı discord koruma ve eğlence botu</h1>
    <p class="subtitle">Taxperia bot discord sunucunuzu korumak için geliştirilen ve gün geçtikçe büyüyen bir discord botudur.<br />Tek amacı sunucu korumakla kalmayıp içinde kullanabileceğiniz moderasyon, eğlence ve bazı kullanıcı komutları bulunan bir bottur. </p>
    <a class="btn btn-primary btn-lg" href="https://discord.com/oauth2/authorize?client_id=693134673450106890&scope=bot&permissions=940846142" target="_blank" role="button">Davet Et</a>
    <a class="btn btn-secondary btn-lg" href="https://discord.gg/wRbgTkVVB2" target="_blank" role="button"><i class="fab fa-discord"></i> Destek Sunucusu</a>
    <br /><br /><br /><br /><br /><br />
</div>
<div class="features">
    <div class="title">Bot ile ilgili bilgiler</div>
    <div class="subtitle">Taxperia bot ile ilgili bilmeniz gereken bazı bilgileri aşağıda verilmiştir. Botu eklemeden önce bu bilgileri okumanız rica edilir.</div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Bilgi #1</h5>
            <p class="card-text">Botumuzda bilinmeyem bazı komutlar mevcuttur. Bu bilinmeyen komutları öğrenmek istiyorsanız sunucunuzda !bilgi yazarak bottaki bilinmeyen komutları öğrenebilirsiniz.</p>
        </div>
    </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Bilgi #2</h5>
                <p class="card-text">Botumuz ile ilgili bazen sorunlar yaşanabilmektedir. Bu sorunu bildirmek için sunucumuza gelebilir ya da sitemizdeki canlı destek özelliğini kullanabilirsiniz.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Bilgi #3</h5>
                <p class="card-text">Botumuzun amacı sunucu korumak olsada içerisinde kullanabileceğiniz moderasyon, eğlence, kullanıcı ve sunucu için kullanabileceğiniz bazı komutlarda mevcuttur.</p>
            </div>
        </div>
    </div>
</div>
  


  

  
</body>
</html>


   <%- include('partials/_footer', {bot, user, path}) %>

