<html> 

<head>    
  <%- include('partials/_header'); -%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
  </head>
  
    <title>Taxperia Bot</title>

<body>

<div class="features">
    <div class="title">Bot ile ilgili bilgiler</div>
    <div class="subtitle">Taxperia bot ile ilgili bilmeniz gereken bazı bilgileri aşağıda verilmiştir. Botu eklemeden önce bu bilgileri okumanız rica edilir.</div>
    <div class="cards">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Bilgi #1</h5>
            <p class="card-text">Botumuzda bilinmeyem bazı komutlar mevcuttur. Bu bilinmeyen komutları öğrenmek istiyorsanız sunucunuzda !bilgi yazarak bottaki bilinmeyen komutları öğrenebilirsiniz.</p>
        </div>
    </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Bilgi #2</h5>
                <p class="card-text">Botumuz ile ilgili bazen sorunlar yaşanabilmektedir. Bu sorunu bildirmek için sunucumuza gelebilir ya da bottaki hata bildir özelliğini kullanarak bize ulaştırabilirsiniz.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Bilgi #3</h5>
                <p class="card-text">Botumuzun amacı sunucu korumak olsada içerisinde kullanabileceğiniz moderasyon, eğlence, kullanıcı ve sunucu için kullanabileceğiniz bazı komutlarda mevcuttur.</p>
            </div>
        </div>
    </div>
</div>
<div class="page_end">
    <div class="start">
        <div class="card">
            <div class="card-body gs-card">
                <div class="title">Botu eklemeye hazır mısın?</div>
                <div class="subtitle">Botu alttaki butondan ekleyebilir ve botumuza oy vererek bize destek olabilirsin.</div>
                <br />
                <a class="btn btn-primary btn-lg" href="https://discord.com/oauth2/authorize?client_id=693134673450106890&scope=bot&permissions=940846142" role="button">Davet Et</a>
            
            
            <a class="btn btn-secondary btn-lg" href="https://top.gg/bot/693134673450106890/vote" role="button">Oy Ver</a>
        </div>
    </div><br />
    </div>
<%- include('partials/_footer'); -%>
</html>
