    <div class="footer">
        <div class="bot-footer">
            <img src="https://cdn.discordapp.com/attachments/830513941040857138/866285786881589248/Taxperiapng.png" width="150"><br />
         <div>
           Copyright © Taxperia - 2021
          </div>   
        </div><br/>
        <div class="nouridio">design by <a href="https://twitter.com/Nouridio"> nouridio</a></div>
    </div>