<!doctype html>
<html lang="en">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2300161228542107"
     crossorigin="anonymous"></script>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/now-ui-kit.css">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/768490283770839080/842798834420547614/Taxperia1.png" type="">
        <meta name="description" content="Taxperia discord üzerinden sunucuları korumak ve insanları eğlendirmek için geliştirilmiş discord botudur">
  <meta property="og:image" content="https://cdn.discordapp.com/attachments/768490283770839080/842798834420547614/Taxperia1.png" />
    <meta name="keywords" content="discord türk botu, discord türk botları, taxperia, taxperia anasayfa, taxperia bot, tax, discord">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,800,900&display=swap" rel="stylesheet">
 <script data-ad-client="ca-pub-7720029584096527" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
 
  
  <body>

        
    
    <nav class="navbar navbar-expand-lg bg-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../assets/menuIcon.svg" width="20px" height="20px" style="max-width: none !important;">
    </button>
    <img src="https://cdn.discordapp.com/attachments/830513941040857138/866285786881589248/Taxperiapng.png" width="50" height="50">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 20px !important">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/anasayfa">Ana Sayfa <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ozellikler">Özellikler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/abonelik">Abonelik</a>
            </li>
        </ul>
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dökümanlar
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/komutlar">Komutlar</a>
                <a class="dropdown-item" href="https://www.youtube.com/channel/UCc8WglU19Jo1UgI7BJKukpA">Öğretici Videolar</a>
            </div>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/hakkimda">Hakkında</a>
        </div>
              <% if (user) { %>
        
         <div class="nav-item dropdown">
         
          
               <a class="btn login-btn btn-outline-accent my-2 my-sm-0" href="" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 10px !important;font-family: poppins !important;"> <img border="2px solid #fff" border-radius="20px" box-sizing="border-box" color="#fff" height="20px" widht="20px" alt="Avatar" src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>" class="twPc-avatarImg2"> <%= user.username %>  <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="/profile/<%= user.id %>"><i class="fas fa-user"></i> Profilim</a>
              <a class="dropdown-item" href="/panel"><i class="fas fa-poll"></i> Panel</a>
              
              
              
              
              <a class="dropdown-item cikis-yap" href="/logout"><i class="fas fa-sign-out-alt"></i>Çıkış Yap</a>
            </div>
          </div>
</div>
        
       <% } else { %>
           <a type="button" class="btn login-btn btn-outline-accent my-2 my-sm-0" href="/login" style="font-size: 10px !important;font-family: poppins !important;"><i class="fas fa-sign-in-alt "></i> Giriş Yap</a>
        <% } %>
      </div>
    </nav>
  

  
    <br><br><br>
    

    
    
    
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="now-ui-kit.min.js"></script>
  <script src="tax.js"></script>

  </body>
</html>